@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
.diyHeader {
    z-index: 100;
    width: 100%;
    position: fixed;
    height: 60px;
    background: rgba(255, 255, 255, 0.9);
}


.diyHeader .diy_meun {
    color: #053daa;
    display: flex;
    float: right;
    margin-right: 30px;
    font-weight: bold;
}
.diyHeader .diy_meun a {
    display: flex;
    line-height: 60px;
    margin-right: 30px;
}

h2, h3 {
    font-family: 'Cafe24Ohsquare';
}

.diyHeader .head_logo{
    
    display: inline-block;
    height: 60px;
    padding: 9px 12px;
}

.diyHeader .head_logo img {

}

.diyHeader__warp {
    position: relative;
    width: 100%;
    max-width: 1340px;
    height: 60px;
    margin: 0 auto;
}

.diyContent {
    width: 100%;
}

.contentHome {
    position: relative;
    width: 100%;
    padding-top: 180px;
    padding-bottom: 18.5%;
    background-image: url(./img/main/head-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    transition: all 1s;
}

.contentHome__warp {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.diyStart {
    position: relative;
    margin-top: 40px;
    cursor: pointer;
    display: inline-block;
    width: 192px;
    height: 72px;
    background: url(./img/main/start.png);
}
.diyStart:hover {
    top: -2px;
}

.contentHomeContent {
    color: #fff;
}

.ti_font {
    margin-left: -4px;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.homeRight {
    position: absolute;
    width: 38%;
    min-width: 380px;
    max-width: 510px;
    top: 62%;
    right: auto;
    left: 54%;
    transform: translateY(-50%);
}

/* 중간내용 */
.contentText {
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    transition: all 1s;
}

.contentText__warp {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}


.contentTextTitle {
    text-align: center;
    display: inline-block;
    padding: 10px 30px 150px 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}



.contentTextTitle h2 {
    font-size: 30px;
}

.contentTextContent {
    position: relative;
    width: 100%;
}


.tLeft {
    position: absolute;
    left: -86px;
    top: 10px;
}
.rLeft {
    position: absolute;
    right: -120px;
    top: 10px;
}

.cList {
    width: 22%;
    display: inline-block;
    margin: 0px 1.3%;
    text-align: center;
    height: 330px;
    box-shadow: 0 0 10px rgba(125, 125, 125, 0.6);
    border-radius: 20px;
    padding: 16px;
    vertical-align: top;
    background: #fff;
}


.cList:nth-child(2n) {
    position: relative;
    top: 60px;
}
.cList:nth-child(2n) h3{
    background: #9a36fe;
    color: #fff;
}

.cList h3 {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 10px;
    background: #ffc000;
    border-radius: 6px;
}

.deco {
    position: absolute;
    width: 150%;
    min-width: 880px;
    max-width: 1490px;
    top: -20%;
    left: 50%;
    transform: translatex(-50%);
    z-index: -1;
}



@media screen and (max-width: 1480px) { 
    .contentHome {
        padding-top: 120px;
        padding-bottom: 23.5%;

    }
}